# Virtual environments
venv/
.venv/
env/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files and temporary files
*.log
*.tmp

# Sensitive information
config.ini
.env
secrets.py

# Build artifacts
dist/
build/

# Local .terraform directories
**/.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# Local tfvars terraform.tfvars
**/*.tfvars

# tf lock file
**/.terraform.lock.hcl

/data
/Annotations
/label-studio
/data_2012
MP3_P2.ipynb
/deploy
/mydata
/postgres-data
/infrastructure
/bucket
/workspace/output/*